<div class="card" style="padding: 30px;">
  <div class="row">
    <div class="col-lg">
      <div style="font-size: 20px;">
        Histórico de Consultas
        <hr />
      </div>
      <div class="card" style="padding: 20px;  margin: 5px; width: 100%;">
        <div class="card-body">
          <div class="row">
            </div>
          </div>
          <div class="row" id="card_tabela">
            <table
              style="width: 100%;"
              id="tabela_historico"
              data-toggle="table"
              data-click-to-select="true"
              data-data-type="text"
              data-locale="pt-BR"
              data-toolbar="#remove"
              data-pagination="true"
              data-row-style="rowStyle"
              data-total-field="count"
              data-ajax="RequestHistorico"
              class="table-hover table-striped"
            >
              <thead>
                <tr>
                </tr>
              </thead>

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>